<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BRICK</title>
    <link rel="icon" type="image/png" href="webots_icon.png">
    <link type="text/css" rel="stylesheet" href='../static/css/webots_style.css' />
    <link type="text/css" rel="stylesheet" href='../static/css/button_style.css' />
    <link type="text/css" rel="stylesheet" href='../static/css/map_and_cam_style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="../static/js/mqttClientPaho.js"></script>
    <script src="../static/js/script.js"></script>
  </head>

  <body>
    <header>
      <div class="title-container">
        <h1>BRICK</h1>
      </div>

      <div class="container-map-input-fields">
        <div class="container-input">
          <input id="host" type="text" placeholder="host" size="20"/>
          <input id="port" type="text" placeholder="port" size="20"/>
          <button id="connectVizanti" onclick="connectVizanti()">Connect</button>
        </div>
        <div class="container-input">
          <input id="x" type="text" placeholder="x-coordinate" size="20"/>
          <input id="y" type="text" placeholder="y-coordinate" size="20"/>
          <button id="sendGoalPos" onclick="sendGoalPos()">Send</button>
        </div>
      </div>

      <div class="cam-map-container">
        <div class="camera-container">          
          <img id="cameraView" src="" alt="camera" class="map"/>

          <div class="bottom-left-container">
            <div>
              <button class="arrow-button invisible">&#8592;</button>
              <button id="arrow-forward" class="arrow-button">&#8593;</button>
            </div>
            <div>
              <button id="arrow-left" class="arrow-button">&#8592;</button>
              <button id="arrow-backward" class="arrow-button">&#8595;</button>
              <button id="arrow-right" class="arrow-button">&#8594;</button>
            </div>
          </div>

          <div class="bottom-right-container">
            <button id="emergency-stop" class="emergency-stop-button">EMGERGENCY STOP</button>
          </div>
        </div>

        <div class="map-container">
          <iframe id="vizanti" src="" class="map"></iframe>
        </div>
      </div>
      

  </body>
</html>